@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #E6EBEF;
  --shadow-hex: #C5CCD1;
}

body {
  background: var(--background-hex)
}

table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
tr { 
  border: solid;
  border-width: 1px 0;
  border-color: #e4e4e4;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

tr > th {
  padding: 0.6rem;
}
tr > td {
  padding: 0.6rem;
}